<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% if content_for? :style %>
      <%= yield :style %>
    <% else %>
      <%= stylesheet_pack_tag 'application' %>
    <% end %>

    <script>
      window.CSRF = {
        param: <%= raw request_forgery_protection_token.to_s.inspect %>,
        token: <%= raw form_authenticity_token.to_s.inspect %>
      }
    </script>
  </head>

  <body>
    <%= yield %>
    <% if content_for? :script %>
      <%= yield :script %>
    <% else %>
      <%= javascript_pack_tag 'application' %>
    <% end %>
  </body>
</html>
