<!DOCTYPE html>
<html>
  <head>
    <title>Tomato</title>
    <%= stylesheet_pack_tag 'application' %>
    <script>
      window.CSRF = {
        param: <%= raw request_forgery_protection_token.to_s.inspect %>,
        token: <%= raw form_authenticity_token.to_s.inspect %>
      }
    </script>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
